@import "@src/styles/lib/constants";
@import "@src/styles/lib/shared";

.badge {
  margin-bottom: 50px;
  margin-top: 50px;

  & > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #ee0a78;
    border-radius: 5px;
    background: #f53245;
    position: relative;

    & picture {
      line-height: 0;
    }

    & div {
      width: calc(50% - 15px);
      margin: 5px auto;
    }

    & span:first-child {
      position: absolute;
      top: 64px;
      left: -43px;
      transform: rotate(-90deg);
      background: black;
      padding: 0 15px;
      border: 1px solid #ee0a78;
    }

    & span {
      display: block;
    }
  }
}
