@import "@src/styles/lib/constants";
@import "@src/styles/lib/shared";

.barMenu {
  color: $color-pink-main;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 10px 0;

  & svg {
    color: white;
    transform: rotate(90deg);
    font-size: $font-size-menu;
  }

  & span {
    font-size: $font-size-menu;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    font-family: "Oswald";
    color: white;
  }

  &.selected svg,
  &.selected span {
    color: #ff84bf;
  }
}
