@import "@src/styles/lib/constants";
@import "@src/styles/lib/shared";

.barMenu {
  color: $color-pink-main;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 10px 0;

  & svg {
    color: white;
    transform: rotate(90deg);
    font-size: $font-size-menu;
  }

  & span {
    font-size: $font-size-menu;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    font-family: "Oswald";
    color: white;
  }

  &.selected {
    background: white;
    width: $margin-nav-mobile;
  }

  &.selected svg,
  &.selected span {
    color: $color-pink-main;
  }
}


@media (min-width: 768px) {
  .barMenu {
    padding: 25px 0;
    &.selected {
      width: $margin-nav-tablet;
    }
  }
}
