@import "@src/styles/lib/constants";
@import "@src/styles/lib/shared";

.end {
  text-align: -webkit-center;
  width: 100%;
  display: block;
  color: white;
  text-transform: uppercase;
  margin: 70px 0;
  animation: blink 2s ease infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@media (min-width: 768px) {
  .end {
    margin: 150px 0;
  }
}
