@import "lib/constants";
@import "lib/shared";

#main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .picture {
    width: 250px;
    height: 200px;
    background: black;
    margin: auto auto 40px;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .title {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
    text-transform: capitalize;
  }
}
