@import "lib/constants";
@import "lib/shared";

.title {
  font-size: 18px;
  position: relative;
  background: black;
  transform: skewY(-17deg);
  display: flex;
  overflow: hidden;

  & span {
    text-transform: uppercase;
    font-size: 50px;
    transform: translateX(calc(-100% + 20px)) skewX(17deg);
    display: block;
  }
}
