@import "@src/styles/lib/constants";
@import "@src/styles/lib/shared";

.content {
  margin: 0 70px 0 1rem;
}

.scroll {
  overflow: scroll;
  height: 100vh;
  width: 100%;
  margin-top: -70px;
}

.borderTop {
  float: left;
  width: 100%;
  height: 250px;
  shape-outside: polygon(0 22vw, 48vw 0, 0 0);
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(0 25vw, 52vw 0, 0 0);
  width: 100%;
  height: 250px;
  background: #ee0a78;
  z-index: $layer-subeffect;
}
