@import "@src/styles/lib/constants";
@import "@src/styles/lib/shared";

.title {
  position: relative;
  background: white;
  overflow: hidden;
  margin-bottom: 20px;
  font-size: 18px;
  z-index: $layer-over;
  transform: skewY(-25deg);

  & > div {
    display: flex;
    justify-content: center;
    background: #f11a64;
    margin: 6px 0;
    padding: 6px;
    overflow: hidden;
  }

  & h1,
  & span {
    display: block;
    text-transform: uppercase;
    font-size: 25px;
    color: #ff80b9;
    transform: translateX(calc(-25vw + 25%)) skewX(25deg);
  }

  & h1 {
    color: white;
    margin: 0 10px;
  }
}
