@import "@src/styles/lib/constants";
@import "@src/styles/lib/shared";

.title {
  position: relative;
  background: black;
  overflow: hidden;
  margin-bottom: 20px;
  font-size: 18px;
  z-index: $layer-over;
  transform: translateX(-125%) translateY(-75%);
  transition: all $transition-time-normal ease;

  & > div {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    margin: 10px 0;
  }

  & h1,
  & span {
    display: block;
    text-transform: uppercase;
    font-size: 25px;
    transform: translateX(calc(-25vw + 25%)) skewX(25deg);
    color: #f63542;
  }

  & h1 {
    color: $color-pink-main;
    margin: 0 10px;
  }
}

:global(.page-transition-enter-done),
:global(.page-transition-enter) {
  .title {
    transform: skewY(-25deg);
  }
}

:global(.page-transition-exit) {
  .title {
    transition: all $transition-time-after-normal ease $transition-time-normal;
  }
}
