@import "@src/styles/lib/constants";
@import "@src/styles/lib/shared";

.title {
  position: relative;
  background: white;
  overflow: hidden;
  margin-bottom: 20px;
  font-size: 18px;
  z-index: $layer-over-effect;
  transform: skewY(-25deg);

  & > div {
    display: flex;
    justify-content: center;
    background: #f11a64;
    margin: 6px 0;
    padding: 6px;
    overflow: hidden;
  }

  & h1,
  & span {
    display: block;
    text-transform: uppercase;
    font-size: 25px;
    color: #ff80b9;
    transform: translateX(calc(-25vw + 25%)) skewX(25deg);
    opacity: 0;
    transition: all 0.25s ease-in-out;
  }

  & h1 {
    color: white;
    margin: 0 10px;
  }
}

:global(.page-transition-enter) {
  .title {
    & h1,
    & span {
      transition: all 0.25s ease-in-out 0.25;
      opacity: 0;
    }
  }
}

:global(.page-transition-enter-active) {
  .title {
    & h1,
    & span {
      transition: all 0.25s ease-in-out 0.25;
      opacity: 1;
    }
  }
}

:global(.page-transition-enter-done) {
  .title {
    & h1,
    & span {
      opacity: 1;
    }
  }
}

:global(.page-transition-exit) {
  .title {
    & h1,
    & span {
      transition: all 0.25s ease-in-out;
      opacity: 1;
    }
  }
}

:global(.page-transition-exit-active) {
  .title {
    & h1,
    & span {
      transition: all 0.25s ease-in-out;
      opacity: 0;
    }
  }
}
