@import "@src/styles/lib/constants";
@import "@src/styles/lib/shared";

.card {
  position: relative;


  & .frame {
    position: relative;
    width: 100%;
    border-radius: $image-border;
    border: 1px solid white;
    background: $color-pink-secondary;
    transition: all 0.25s ease-in-out 0.25s;

    &::before {
      content: " ";
      width: 40px;
      height: 40px;
      transform: translate(-50%, -50%);
      background: white;
      position: absolute;
      top: 0;
      left: 50%;
      border-radius: 50%;
      z-index: $layer-subeffect;
    }

    & img {
      width: 100%;
      border-radius: $image-border;
      opacity: 0;
    }

    & svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.25s ease-in-out;
    }
  }

  & .loaded {
    & img {
      opacity: 1;
    }
    & svg {
      opacity: 0;
    }
  }

  & span:not(.order) {
    margin-bottom: 70px;
    margin-top: 35px;
    display: block;
    text-indent: 10vw;
    text-align: justify;

    &::first-letter {
      font-size: 30px;
    }
  }

  & .order {
    position: absolute;
    font-size: 30px;
    line-height: 0;
    left: 50%;
    color: $color-pink-main;
    transform: translateX(-50%);
    font-weight: 900;
    z-index: $layer-over;

  }
}

@media (min-width: 768px) {
  .card {
    & span:not(.order) {
      margin-bottom: 120px;
      margin-top: 60px;
    }
  }
}
