@import "@src/styles/lib/constants";
@import "@src/styles/lib/shared";

#main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & > div {
    margin: 0 $margin-mobile;
  }

  .picture {
    width: 250px;
    border: 1px solid white;
    border-radius: $image-border;
    margin: auto auto 40px;

    & img {
      width: 250px;
      height: 250px;
      border-radius: $image-border;
    }
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .title {
    text-align: center;
    margin-bottom: 20px;
    text-transform: capitalize;
  }
}

@media (min-width: 768px) {
  #main {
    & > div {
      margin: 0 $margin-tablet;
    }

    .picture {
      width: 350px;
      margin: auto auto 70px;

      & img {
        width: 350px;
        height: 350px;
      }
    }
  }
}
