@import "@src/styles/lib/constants";
@import "@src/styles/lib/shared";

#main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all $transition-time-normal ease;

  & > div {
    margin: 0 1rem;
  }

  .picture {
    width: 250px;
    height: 200px;
    background: black;
    margin: auto auto 40px;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .title {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
    text-transform: capitalize;
  }
}

:global(.page-transition-enter) {
  #main {
    opacity: 0;
  }
}

:global(.page-transition-enter-done) {
  #main {
    opacity: 1;
  }
}
