@import "@src/styles/lib/constants";
@import "@src/styles/lib/shared";

#main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & > div {
    margin: 0 $margin-mobile;
  }

  .picture {
    width: 250px;
    border: 1px solid white;
    border-radius: $image-border;
    margin: auto auto 40px;

    & img {
      width: 250px;
      height: 250px;
      border-radius: $image-border;
    }
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .title {
    text-align: center;
    margin-bottom: 20px;
    text-transform: capitalize;
  }
}

@media (min-width: 768px) {
  #main {
    & > div {
      margin: 0 $margin-tablet;
    }

    .picture {
      width: 350px;
      margin: auto auto 70px;

      & img {
        width: 350px;
        height: 350px;
      }
    }
  }
}

@media (min-width: 1200px) {
  #main {
    cursor: pointer;
    & > div {
      position: relative;
      & .title {
        display: flex;
        font-size: 25px;

        & div:first-child {
          display: flex;
          flex-direction: column;

          & span {
            text-transform: uppercase;
            &:first-child {
              font-size: 300px;
            }

            &:nth-child(2) {
              font-size: 125px;
            }
          }
        }
        & div:last-child {
          margin-left: 50px;

          & span {
            font-size: 125px;
            position: relative;
            top: 32px;
          }
        }
      }
      & .content {
        position: absolute;
        max-width: 40%;
        right: 0;
        top: 170px;
        height: unset;
        display: block;

        & > div {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
          & > div {
              border: 1px solid white;
          }

          & > div,
          & img {
            width: 70px;
            height: 70px;
            border-radius: 10px;
          }
        }

      }
    }
  }
}
