@import "@src/styles/lib/constants";
@import "@src/styles/lib/shared";

.movable {
  & > div:nth-child(2) {
    margin-top: 70px;
  }

  .end {
    text-align: -webkit-center;
    width: 100%;
    display: block;
    color: white;
    text-transform: uppercase;
    margin: 70px 0;
  }
}
