@import "@src/styles/lib/constants";
@import "@src/styles/lib/shared";

.nav {
  position: absolute;
  overflow: hidden;
  background: white;
  width: $margin-nav-mobile;
  height: 100%;
  right: 0;
  top: 0;

  & .menu {
    margin: $margin-mobile 0;
  }

  & > div {
    height: 100%;
    margin: 0 0px 0 5px;
    background: #f11a64;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    & > span {
      display: flex;
      align-items: center;
      writing-mode: vertical-rl;
      text-transform: uppercase;
      font-size: $font-size-menu;
      color: #ff84bf;
    }
  }
}

@media (min-width: 768px) {
  .nav {
    width: $margin-nav-tablet;
  }
}
