@import "@src/styles/lib/constants";
@import "@src/styles/lib/shared";

.nav {
  position: absolute;
  overflow: hidden;
  background: black;
  width: 50px;
  height: 100%;
  right: 0;
  top: 0;
  transform: translateY(100%);
  transition: all $transition-time-normal ease;

  & .menu {
    margin: $margin-mobile 0;
  }

  & > div {
    height: 100%;
    border-right: 2px solid white;
    border-left: 2px solid white;
    margin: 0 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    & > span {
      display: flex;
      align-items: center;
      writing-mode: vertical-rl;
      text-transform: uppercase;
      font-size: $font-size-menu;
      color: $color-orange-main;
    }
  }
}

:global(.page-transition-enter-done),
:global(.page-transition-enter) {
  .nav {
    transform: translateY(0);
  }
}

:global(.page-transition-exit) {
  .nav {
    transition: all $transition-time-after-normal ease $transition-time-normal;
  }
}
