@import "@src/styles/lib/constants";
@import "@src/styles/lib/shared";

.slider {
  margin: 20px 0;

  & > div {
    margin: 0 -$margin-mobile;
    & > div > div > div {
      margin-right: $margin-mobile;
      margin-left: $margin-mobile;
    }
  }

  & button {
    z-index: 10;
    bottom: 0;
    top: unset;
    transform: unset;

    &:first-child {
      left: 0;
    }
    &:last-child {
      right: 0;
    }
  }
}

@media (min-width: 768px) {
  .slider {
    margin: 120px 0 100px;
  }
}
